.messageWrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.messageBox {
    width: 94%;
    height: 50px;
}

.submitButton {
    width: 5%;
}

.clientNum {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 24px;
}